<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= page.title %></title>

    <meta property="og:title" content="<%= page.title %>" />
    <meta name="twitter:title" content="<%= page.title %>" />

    <meta property="og:description" content="<%= page.description %>" />
    <meta name="description" content="<%= page.description %>" />

    <meta name="twitter:card" content="<%= page.image %>">
    <meta property="og:image" content="<%= page.image %>" />
    <meta name="twitter:image" content="<%= page.image %>" />

    <meta name="twitter:site" content="<%= page.site %>">
    <meta name="twitter:creator" content="<%= page.creator %>">

    <meta name="theme-color" content="#333333" />

    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#333333">

    <link href="/dist/tailwind.css" rel="stylesheet" />
    <script type="text/javascript">
        window.baseUrl = '<%= baseUrl %>';
        window.accountLink = '<%= accountLink %>';
        window.baseApiUrl = '<%= baseApiUrl %>';
    </script>
</head>
