<!DOCTYPE html>
<html lang="en" dir="ltr"></html>
    <script type="text/javascript">
        window.postId = '<%= postId %>';
    </script>
    <%- include('../../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../../partials/header.ejs') %>
           <main class="bg-gray-50">
                <div class="py-4 px-4 mx-auto max-w-[800px]">
                    <h2 id='title' class="text-2xl font-bold text-gray-900"></h2>
                    <div id="description"></div>
                    <hr class="my-4" />

                    <div>
                        <p class="text-sm">
                            Este post foi criado utilizando inteligência artificial.<br />
                            Primeiro um video do YouTube foi transcrito e depois geramos um post baseado em um Avatar.
                            <br />
                            Video Original: <a
                                class="font-medium text-green-600 underline hover:no-underline"
                                href='#'
                                id='postVideoUrl'></a>
                        </p>
                        <p class="text-sm">
                            Esse projeto foi desenvolvido em meu YouTube: <a 
                                class="font-medium text-green-600 underline hover:no-underline"
                                href='https://youtube.com/c/ligeiro'
                            >https://youtube.com/c/ligeiro</a> <br />

                            - <a class='font-medium text-green-600' href='https://www.youtube.com/watch?v=rmCJjWxEpfo'>https://www.youtube.com/watch?v=rmCJjWxEpfo</a> <br />
                            - <a class='font-medium text-green-600' href='https://www.youtube.com/watch?v=88WNnNcxtoA'>https://www.youtube.com/watch?v=88WNnNcxtoA</a> <br />
                            - <a class='font-medium text-green-600' href='https://www.youtube.com/watch?v=xLfsWIRC2W8'>https://www.youtube.com/watch?v=xLfsWIRC2W8</a> <br />
                            - <a class='font-medium text-green-600' href='https://www.youtube.com/watch?v=s5lwrWAGdRY'>https://www.youtube.com/watch?v=s5lwrWAGdRY</a> <br />
                            - <a class='font-medium text-green-600' href='https://www.youtube.com/watch?v=oUBQ-ZgnRSo'>https://www.youtube.com/watch?v=oUBQ-ZgnRSo</a> <br />
                            - <a class='font-medium text-green-600' href='https://www.youtube.com/watch?v=srsMhDAVHf0'>https://www.youtube.com/watch?v=srsMhDAVHf0</a>
                        </p>
                        <p class="text-sm">
                            Esse projeto tem código aberto unlicensed, para brincar basta entrar em nosso discord:
                            <br />
                            <a 
                                class="font-medium text-green-600 underline hover:no-underline"
                                href='https://tenx.club'
                            >https://tenx.club</a>
                        </p>
                    </div>
                </div>
            </main>
            <%- include('../../partials/footer.ejs') %>
        </div>

        <script type='module' src="/dist/pages/blog/post-view.js"></script>
        <%- include('../../partials/loading-overlay.ejs', { show: true }) %>
    </body>
</html>