<!DOCTYPE html>
<html lang="en" dir="ltr"></html>
    <script type="text/javascript">
        window.postId = '<%= postId %>';
    </script>
    <%- include('../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../partials/header.ejs') %>
           <main class="bg-gray-50">
                <div class="py-4 px-4 mx-auto max-w-[800px]">
                    <h2 id='title' class="text-2xl font-bold text-gray-900"></h2>
                    <div id="description"></div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>

        <script type='module' src="/dist/blog/post-view.js"></script>
        <%- include('../partials/loading-overlay.ejs', { show: true }) %>
    </body>
</html>